@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body,*,h1,h2,p,a{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
body{
  background: linear-gradient(180deg, #ffff 0%, #F6F7FB 100%);
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 1.3rem;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}
.header img{
  width: 34px;
  height: 34px;
}
.header .logo{
  width: 84px;
  height: 42px;
}
#content-container{
  background: linear-gradient(180deg, #ffff 0%, #F6F7FB 100%);
  font-size: 5rem;
}
.dog-container{
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.dog-container img{
  max-width: 534px;
  border-radius: 1rem;
}
.info{
  position: absolute;
  left: 28.34px;
  top: 600.36px;
  color: #F8F8F8;
}
.dog-container h1{
  font-size: 2rem;
  line-height: 1.1em;
}
.dog-container p{
  margin-top: 5px;
  padding: 0 0.3em;
  color: #F8F8F8;
  font-size: 1.5rem;
  line-height: 1.2em;
}
.btn-container{
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: space-between;
  gap: 24px;
}
.btn-container button{
  width: 92px;
  height: 92px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.btn-container button:active{
  background: #9ca0a1;
  top: 5px;
  box-shadow: inset 1px rgb(99, 96, 96);
}
.btn-container .liked{
  background-color: #DBFFF4;
}
.btn-container .disLiked{
  background-color: #FFE7EF;
}
.badge img{
  position: absolute;
  width: 234px;
  height: 116px;
  transform: rotate(-30deg);
  left: 14px;
  top: 50px;
}
.endingPage{
  text-align: center;
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.endingPage h1{
  font-size: 3rem;
  color: #9ca0a1;
  margin-bottom: 0.8em;
  text-transform: uppercase;
}
.endingPage p{
  font-size: 2rem;
  padding: 0 2em;
  line-height: 1.9em;
}
.endingPage .likeWord{
  font-size: inherit;
  color: #26b98d;
}
.endingPage .disLikeWord{
  font-size: inherit;
  color: rgb(214, 72, 72);
}
.endingPage a{
  text-decoration: none;
  font-size: inherit;
  color: rgb(207, 3, 13);
  text-transform: uppercase;
}